$color-primary: #E0C1A1;
$color-secondary: #EBEAE8;
$color1: #181818;
$color2: #FEFBF9;

$font-size-section-title: 54px;
$font-size-section-sub-title: 23px;
$font-size-base: 16px;
$font-size-sm: 14px;