$color-primary: #E0C1A1;
$color-secondary: #EBEAE8;
$color1: #181818;
$color2: #FEFBF9;

$font-size-section-title: 54px;
$font-size-section-sub-title: 23px;
$font-size-base: 16px;
$font-size-sm: 14px;

$screen-start-mobile: 375px;
$screen-end-mobile: 755px;
$screen-start-tab: 756px;
$screen-end-tab: 853px;
$screen-start-large-tab: 854px;
$screen-end-large-tab: 959px;
$screen-start-small-pc: 960px;
$screen-end-small-pc: 1279px;
$screen-start-pc: 960px;
$screen-end-pc: 1279px;
$screen-start-pc: 1280px;
$screen-end-pc: 1919px;
$screen-start-large-pc: 1920px;